/* Default styling for content */
main{
    font-size: 18px;
}

/* Section for each branch */
.align_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Container for Map section */
.iframe_container{
    align-items: center;
    margin: 30px 20px 120px 20px;
    padding: 15px;
    width: 90%;
    filter: drop-shadow(0 0 4px grey);

    /* Adjusting iframe */
    iframe{
        width: 100%;
        border-radius: 25px;
    }
}

/* Container for image and following text */
.branch_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;

    img{
        height: 230x;
        width: 220px;
        margin: 20px 30px 20px 25px;
        border-radius: 40px;
        filter: drop-shadow(0 0 4px grey);
    }
    p{
        margin-right: 120px;
        font-weight: 600;
    }
}

/* Heading for branch content */
.branch_heading{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--head-color);
    font-weight: bold;
}

/* Main heading */
#our_branch_heading{
    font-size: 50px;
    font-weight: 900;
    margin: 30px 20px 40px 20px;
    color: var(--head-color);
}

/* Return to about us button container */
.go_back{
    display: grid;
    width: 100vw;
    margin: -90px 50px 50px 50px;
    justify-content: center;
    align-items: center;
}

/* Return to about us button */
.go_back_link{
    text-decoration: none;
    font-weight: bolder;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.2s ease;
}

/* Return to about us button hover animation*/
.go_back_link:hover{
    transform: scale(1.1);
    color: #3ee2ff;
}

/* Media Queries */
@media (max-width: 380px){
    #our_branch_heading{
        font-size: 30px;
    }

    .branch_heading{
        font-size: 25px;
    }

    .branch_info{
        flex-direction: column;
        align-items: center;

        p{
            font-size: 14px;
            margin: 15px;
        }
    }

    .iframe_container{
        margin: 0px;
    }
}