/* Default styling for content */
main{
    margin: 80px;
    font-weight: bolder;
}

main h1{
    font-size: 35px;
    margin-bottom: 20px;
    color: var(--head-color);
}

main p, li{
    font-size: 17px;
    margin-bottom: 30px;
}

main li{
    margin-left: 30px;
}

/* Return to about us button container */
.go_back{
    display: flex;
    width: 100vw;
    margin-left: -80px;
    justify-content: center;
    align-items: center;
}

/* Return to about us button */
.go_back_link{
    text-decoration: none;
    font-weight: bolder;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.2s ease;
}

/* Return to about us button hover animation*/
.go_back_link:hover{
    transform: scale(1.1);
    color: #3ee2ff;
}

/* Media Queries */
@media (max-width: 380px){
    main h1{
        font-size: 23px;
        margin: 0px;
        margin-bottom: 20px;
    }

    main p, body li{
        font-size: 17px;
        margin: 0px;
        margin-bottom: 20px;
    }
}