/* Styling for body section Image */
body{
    background-image: url(../Images/Booking/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Container for booking form */
.booking_form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 40px;
}

/* Booking form styling */
.booking_form{
    display: flex;
    flex-direction: column;
    background-color: #b7b7b932;
    backdrop-filter: blur(200px);
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 50%;
    padding: 30px 50px 30px 50px;
    border-radius: 50px;
}

/* DIV sections inside booking form */
.booking_form_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 30px;

    input{
        margin: 0 10px 0 10px;
        border: none;
    }
}

/* Individual input styling START */
.input_name{
    font-weight: bolder;
    color: black;
    font-size: 18px;
}

.text_input{
    width: 45%;
    height: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 0 1px black);
    background-color: antiquewhite;
}

.select_input{
    transform: scale(1.5);
    background-color: antiquewhite;
}

    .radio_container{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .radio_sub_container{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .check_container{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .check_sub_container{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

.area_input{
    width: 55%;
    border-radius: 10px;
    filter: drop-shadow(0 0 1px black);
    padding: 10px;
    background-color: antiquewhite;
}

.button_input{
    font-weight: bolder;
    color: black;
    font-size: 15px;
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--primary-color);
    filter: drop-shadow(0 0 2px black);
}
/* Individual input styling END */


/* Media Queries */
@media (max-width: 668px){
    .booking_form_container{
        margin: 0;
        height: auto;
        margin: 30px 0 30px 0;
    }

    .booking_form{
        width: 65%;
        margin: 30;
        height: auto;
    }

    .booking_form_content{
        width: 100%;
        margin: 20px;
        gap: 5px;
    }

    .input_name , div label{
        font-size: 14px;
    }
    .select_input{
        transform: scale(1);
    }

    .check_sub_container{
        width: 55%;
        font-weight: bolder;
    }

    .radio_sub_container{
        font-weight: bolder;
    }

    .button_input{
        margin: 0 20px;
    }
}

@media (max-width: 380px){
    .booking_form_content, .radio_container , .check_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text_input, .area_input{
        width: 100%;
    }

    .radio_sub_container, .check_sub_container{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        font-weight: bolder;
    }

    #buttons{
        display: flex;
        flex-direction: row;
    }

    .input_name{
        font-size: 16px;
    }

    .button_input{
        font-size: 12px;
        padding: 10px;
    }
}